

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;

}
.hero {
    padding-right: 40px;
    margin: 0px;
    width: 420px;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
}

.hero.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero.secondary, header li {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 5px;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    
}

.hero button {
    border: 0;
}

.call_to_action button {
    border: 2px solid #F9FAF8;
}

.topcontent {
    display: flex;
    padding: 30px 150px;
}

.call_to_action {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 50px 150px;
    padding: 10px 80px;
    align-items: center;
}

img {
    width: auto;
    height: 280px;
}

.topcontent, 
header, 
footer {
    background-color: #1F2937;
}

.information-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox {
    margin: 10px 20px;
}

.information-boxes p {
    width: 140px;
    height: 140px;
    text-align: center;
    margin: 5px;
}

.imgbox {
    border: 2px solid #3882F6;
    width: 140px;
    height: 140px;
    border-radius: 8px;
    margin: 0px;
}

.information > p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.call-text {
    
}

.call-sub {
    color: #E5E7EB;
}

.call-header {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 800;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 200px;
    
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    color: #E5E7EB;
}